body{
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    width: 80%;
    margin: 20px auto;
    background: rgb(233, 193, 223);
    border-collapse:collapse;
    
    border-radius: 3px;
}
h2{
    text-align: center;
    color:rgb(2, 40, 67);
}
label{
    color:rgb(2, 40, 67);
    font-size: 20px;
}
table.list{
    text-align: center;
    width: 100%;
    
}
th{
    color:rgb(2, 40, 67);
    font-size: 20px;
    padding-top: 20px;

}
td{
    border: 1px solid black;
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background: rgb(233, 193, 223);
    
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 15px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(2, 40, 67);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: rgb(2, 40, 67);;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    color:white;
}

input[type="submit"]:hover{
    background: rgb(2, 40, 67);
}

input[type="reset"]:hover{
    background:rgb(2, 40, 67);
}

button{
    background: rgb(2, 40, 67);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    color:white;
}

button:hover{
    background:rgb(2, 40, 67);
}

